In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('nyc_weather.csv')

In [4]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN
4,01-05-2016,20,3,41,30.57,10,5.0,0,0,NaN
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN

### na_values - to handle missing values

In [5]:
df= pd.read_csv('nyc_weather.csv', na_values=['not available','na', '-1'])
df.head(15)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN
4,01-05-2016,20,3,41,30.57,10,5.0,0,0,NaN
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN

In [6]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN
4,01-05-2016,20,3,41,30.57,10,5.0,0,0,NaN
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN

In [7]:
df.fillna()

ValueError: Must specify a fill 'value' or 'method'.

In [8]:
# if we want to fill the some specific name to some then we will use this method 

df.fillna({'WindSpeedMPH':0, 'Events':'No Event'}).head(20)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,No Event
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,No Event
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,No Event
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,No Event
4,01-05-2016,20,3,41,30.57,10,5.0,0,0,No Event
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,No Event
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,No Event
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,No Event
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain
9,01-10-2016,50,46,71,29.59,4,0.0,1.8,7,Rain
10,01-11-2016,33,8,37,29.92,10,0.0,0,1,No Event
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,No Event
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,No Event
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,No Event
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,No Event
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,No Event
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,No Event

In [26]:
df['WindSpeedMPH'].fillna(method="ffill", limit=5)

0      8.0
1      7.0
2      8.0
3      9.0
4      5.0
5      4.0
6      2.0
7      4.0
8      8.0
9      8.0
10     8.0
11     6.0
12    10.0
13     5.0
14     5.0
15     7.0
16     6.0
17    12.0
18    11.0
19     6.0
20     6.0
21     6.0
22    16.0
23     6.0
24     3.0
25     7.0
26     7.0
27     5.0
28     8.0
29     7.0
30     5.0
Name: WindSpeedMPH, dtype: float64

In [27]:

df['WindSpeedMPH'].fillna(df['WindSpeedMPH'].mean())

0      8.000000
1      7.000000
2      8.000000
3      9.000000
4      5.000000
5      4.000000
6      2.000000
7      4.000000
8      8.000000
9      6.892857
10     6.892857
11     6.000000
12    10.000000
13     5.000000
14     5.000000
15     7.000000
16     6.000000
17    12.000000
18    11.000000
19     6.000000
20     6.000000
21     6.892857
22    16.000000
23     6.000000
24     3.000000
25     7.000000
26     7.000000
27     5.000000
28     8.000000
29     7.000000
30     5.000000
Name: WindSpeedMPH, dtype: float64

In [28]:
# this method is use to drop all the rows and columns where some value and not defined like NaN, 0, etc


df.dropna()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain

In [32]:
# deleting columns which contain missing entries 
# in this windspeed and events column will not be appear


df.dropna(axis = 1)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,PrecipitationIn,CloudCover
0,01-01-2016,38,23,52,30.03,10,0,5
1,01-02-2016,36,18,46,30.02,10,0,3
2,01-03-2016,40,21,47,29.86,10,0,1
3,01-04-2016,25,9,44,30.05,10,0,3
4,01-05-2016,20,3,41,30.57,10,0,0
5,01-06-2016,33,4,35,30.50,10,0,0
6,01-07-2016,39,11,33,30.28,10,0,3
7,01-08-2016,39,29,64,30.20,10,0,8
8,01-09-2016,44,38,77,30.16,9,T,8
9,01-10-2016,50,46,71,29.59,4,1.8,7
10,01-11-2016,33,8,37,29.92,10,0,1
11,01-12-2016,35,15,53,29.85,10,T,4
12,1/13/2016,26,4,42,29.94,10,0,0
13,1/14/2016,30,12,47,29.95,10,T,7
14,1/15/2016,43,31,62,29.82,9,T,2
15,1/16/2016,47,37,70,29.52,8,0.24,7
16,1/17/2016,36,23,66,29.78,8,0.05,6
17,1/18/2016,25,6,53,29.83,9,T,2
18,1/19/2016,22,3,42,30.03,10,0,1
19,1/20/2016,32,15,49,30.13,10,0,2
20,1/21/2016,31,11,45,30.15,10,0,1
21,1/22/2016,26,6,41,30.21,9,0.01,3
22,1/23/2016,26,21,78,29.77,1,2.31,8
23,1/24/2016,28,11,53,29.92,8,T,3
24,1/25/2016,34,18,54,30.25,10,0,2
25,1/26/2016,43,29,56,30.03,10,0,2
26,1/27/2016,41,22,45,30.03,10,T,3
27,1/28/2016,37,20,51,29.90,10,0,1
28,1/29/2016,36,21,50,29.58,10,0,4
29,1/30/2016,34,16,46,30.01,10,0,0
30,1/31/2016,46,28,52,29.90,10,0,0